spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /console

  ## Hibernate Properties
  # The SQL dialect makes Hibernate generate better SQL for the chosen database
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.H2Dialect
    properties.hibernate.format_sql: true
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: create-drop

ourlunch:
  url: http://localhost:8080/
