spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ourlunch?useSSL=false&serverTimezone=UTC
    driverClassName:
    username: root
    password: hyukjae

 ## Hibernate Properties
 # The SQL dialect makes Hibernate generate better SQL for the chosen database
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    generate-ddl: false

ourlunch:
  url: http://ourlunch.com/
