<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>점심고민 끝! 우리의점심</title>
    <style>
        .title {
            margin-bottom: 70px;
        }
        h2 {
            width: 100%;
            font-size: 2rem;
        }
    </style>
</head>
<body>
<div>
    <h2 class="title">우리의<span>점</span>심</h2>
    <div>
        <div>
            <p>존재하지 않는 페이지 입니다.</p>
            <a href="/redirect">첫 페이지로 이동하기</a>
        </div>
    </div>
</div>
</body>
</html>